{% extends "base.html" %}

{% block title %}Book Club | Add Book {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    {{ form.media }}

<div class="container">
    <div class="row">
        <div class="col-8 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% if added_now %}
                        <div class="alert alert-success" role="alert" id="msg">
                            Book added with success!
                        </div>
                    {% endif %}
                
                    <h2>Add a book:</h2>
                
                    <form method="post" style="margin-top: 1.3em;">
                        {{ book_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}