{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="col-12 mt-3 left">
        <div class="row">
            <h2>My books</h2>
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for book in book_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <img src="https://m.media-amazon.com/images/I/51nvbPrIr+L._SY344_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text text-muted-h6">My rating: {{ book.rating }}/5</p>
                                <br>
                                <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Book details</a>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                    <!-- Our for loop ends here -->
                {% endfor %}
            </div>            
        </div>
    </div>
</div>

{%endblock%}