{% extends "base.html" %}
{% block title %}Book Club | Edit: {{ book.title }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Load the form to edit book info -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <h3>Edit the book: {{ book.title }}</h3>
                
                    <form method="post" style="margin-top: 1.3em;">
                        {{ book_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" value="Update" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}